// Variables
$red: hsl(10, 79%, 65%);
$cyan: hsl(186, 34%, 60%);
$dark-brown: hsl(25, 47%, 15%);
$med-brown: hsl(28, 10%, 53%);
$cream: hsl(27, 66%, 92%);
$orange: hsl(33, 100%, 98%);

$corner-radius: 5px;

// Font
$default-font-size: 18px;
$base-font: "DM Sans", sans-serif;

// Resets
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  font-size: $default-font-size;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: $cream;
  font-family: $base-font;

  @media (min-width: 992px) {
    font-size: 22px;
  }
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Remove default lists styles
*/
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

// Utility
.flex {
  display: flex;
}

.chart {
  @extend .flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 667px;
  padding: 0 25px;

  @media (min-width: 992px) {
    max-width: 540px;
    margin: 0 auto;
  }

  &__header {
    @extend .flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    border-radius: $corner-radius;
    background-color: $red;
    margin-bottom: 10px;
    color: $orange;

    &-title {
      font-weight: 400;
    }
    &-balance {
      font-size: 26px;
      line-height: 120%;
      font-weight: 700;
      @media (min-width: 992px) {
        font-size: 32px;
      }
    }
  }
  &__body {
    padding: 20px;
    width: 100%;
    background-color: $orange;
    border-radius: $corner-radius;
    &-title {
      font-size: 24px;
      line-height: 120%;
      color: $dark-brown;
      margin-bottom: 30px;

      @media (min-width: 992px) {
        font-size: 30px;
        margin-bottom: 50px;
      }
    }
  }
  &__day {
    &-lists {
      @extend .flex;
      justify-content: space-between;
      height: 220px;
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 2px solid hsl(28 10% 53% / 0.5);
    }
    &-item {
      @extend .flex;
      justify-content: flex-end;
      flex-direction: column;
      align-items: center;
      position: relative;
    }

    &-bar {
      display: block;
      position: relative;
      height: 48px;
      width: 9vw;
      background-color: $red;
      border-radius: 4px;
      margin-bottom: 5px;

      @media (min-width: 992px) {
        max-width: 50px;
      }
      &:hover {
        background-color: hsl(10 79% 65% / 0.8);
      }
      &--current {
        background-color: $cyan;
        &:hover {
          background-color: hsl(186 34% 60% / 0.8);
        }
      }
    }
    &-popover {
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0;
      visibility: hidden;
      padding: 5px;
      margin: 0;
      border-radius: 4px;
      color: $orange;
      font-size: 10px;
      font-weight: 700;
      background-color: $dark-brown;
      transition: all 400ms, 400ms ease;
      @media (min-width: 576px) and (max-width: 991.98px) {
      }
      @media (min-width: 992px) {
        top: -50px;
        padding: 10px;
        font-size: 16px;
        margin-left: -10px;
        margin-right: -10px;
      }
    }
    &-bar:hover & {
      &-popover {
        opacity: 1;
        visibility: visible;
      }
    }
    &-label {
      color: $med-brown;
      font-size: 16px;

      @media (min-width: 992px) {
        font-size: 18px;
      }
    }
  }
  &__summary {
    @extend .flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__current {
    &-label {
      font-size: 16px;
      color: $med-brown;

      @media (min-width: 992px) {
        font-size: 20px;
      }
    }
    &-amount {
      font-size: 31px;
      font-weight: 700;
      color: $dark-brown;

      @media (min-width: 992px) {
        font-size: 48px;
      }
    }
  }
  &__last {
    &-label {
      font-size: 16px;
      color: $med-brown;
      margin-bottom: 0;

      @media (min-width: 992px) {
        font-size: 20px;
      }
    }
    &-percentage {
      color: $dark-brown;
      font-weight: 700;
    }
  }
}
